@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.header-main {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: flex-start !important;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.header-main .bg-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../netflix.jpg");
  z-index: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  -o-object-position: 1rem;
     object-position: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
}
.header-main .logo-section {
  z-index: 10;
}
.header-main .logo-section .typo {
  font-size: 0.48rem;
  color: #FFF;
  cursor: pointer;
}
.header-main .logo-section .typo #demo {
  background: #C61C1C;
  border-radius: 8px;
  padding: 0.4rem;
  margin-right: 0.4rem;
}
.header-main .navbar-section {
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.header-main .navbar-section .navbar-content {
  margin-right: 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.search-main {
  width: 100%;
  height: 100%;
  background-color: #222;
}
.search-main .search-bar-section {
  padding: 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  height: 42%;
  justify-content: space-between;
}
.search-main .search-bar-section .search-bar {
  background-color: #111;
  width: 80%;
  font-size: 1.8rem;
  padding: 0.8rem 1.4rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  align-self: center;
  gap: 0rem;
}
.search-main .search-bar-section .search-bar::-webkit-input-placeholder {
  text-align: center;
}
.search-main .search-bar-section .search-bar::-moz-placeholder {
  text-align: center;
}
.search-main .search-bar-section .filter {
  padding: 0.8rem 0.4rem;
}
.search-main .search-bar-section .filter .filter-section {
  position: relative;
  padding: 0rem 0.4rem;
  display: flex;
  gap: 0rem;
  width: 100%;
  justify-content: center;
}
.search-main .search-bar-section .filter .filter-section:before {
  content: "filter";
  position: absolute;
  background-color: #444;
  padding: 0.4rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  top: -20%;
  letter-spacing: 4px;
  z-index: 1000;
}
.search-main .search-bar-section .filter .filter-section .filtering-content {
  position: relative;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0rem;
  z-index: 100;
}
.search-main .search-bar-section .filter .filter-section .filtering-content:after {
  content: "";
  position: absolute;
  border-right: 2px solid #333;
  height: 100px;
  width: 100%;
  bottom: 12%;
  z-index: -10;
}
.search-main .search-bar-section .filter .filter-section .filtering-content:last-child:after {
  border: none;
}
.search-main .search-bar-section .filter .filter-section .filtering-content .filter-text-content {
  min-width: 24%;
}
.search-main .search-bar-section .filter .filter-section .filtering-content .selector {
  display: inline-flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0em 1em 0.8em 1em;
}
.search-main .search-bar-section .filter .filter-section .filtering-content .selector #filter-select {
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.search-main .search-bar-section .filter .filter-section .filtering-content .selector #filter-select::after {
  content: "a";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: red;
  top: 0;
  left: 0;
}
.search-main .filter-section {
  border: 2px solid #333;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.header-main {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: flex-start !important;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
.header-main .bg-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../netflix.jpg");
  z-index: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  -o-object-position: 1rem;
     object-position: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
}
.header-main .logo-section {
  z-index: 10;
}
.header-main .logo-section .typo {
  font-size: 0.48rem;
  color: #FFF;
  cursor: pointer;
}
.header-main .logo-section .typo #demo {
  background: #C61C1C;
  border-radius: 8px;
  padding: 0.4rem;
  margin-right: 0.4rem;
}
.header-main .navbar-section {
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.header-main .navbar-section .navbar-content {
  margin-right: 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.card {
  position: relative;
  width: 20%;
  height: 28em;
  cursor: pointer;
  background-size: 100% 28em;
  border-radius: 8px;
  padding: 0 !important;
  margin-right: 0 !important;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.6);
}
.card:hover {
  transform: scale(1.08);
  z-index: 1000;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.6);
}
.card:hover:before {
  background-color: rgba(0, 0, 0, 0.28);
  box-shadow: none;
}
.card:before {
  content: "";
  position: absolute;
  height: 28em;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 8px;
  box-shadow: 0px 0px 36px 12px rgba(0, 0, 0, 0.8) inset;
}
.card .card-contents {
  position: relative;
  width: 100%;
  height: 28em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0;
}
.card .card-contents .card-content-details {
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #aaa;
  text-align: start;
  padding: 0.4rem 1rem;
}
.card .card-contents .card-content-details .heading {
  font-size: 1.8rem;
  display: block;
  color: #eee !important;
  margin-bottom: 0.6rem;
  text-decoration: underline;
  line-height: 2rem;
}
.card .card-contents .card-content-details .details {
  font-size: small;
}
.card .card-contents .card-content-details .details .detail {
  margin: 0;
}
.card .card-contents .card-content-details .details .detail-title {
  font-weight: bolder;
  font-size: 0.88rem;
}
.card .card-contents .card-content-details .details .ratings {
  display: flex;
  margin-top: 0.2rem;
  gap: 3rem;
}

.lighten-up {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.search-section-super {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #222;
  align-items: center;
}
.search-section-super .search-section {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  background-color: #222;
}
.search-section-super .search-section .main-search-section {
  padding: 0.4rem 0.6rem;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}
.search-section-super .search-section .main-search-section .search-title {
  text-align: left;
  font-size: 1.8rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 1.2px;
  font-family: default;
  text-decoration: none;
}
.search-section-super .search-section .main-search-section .showcase-section {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  flex-grow: 1;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* ::-webkit-scrollbar {
  width: 8px;
}
* ::-webkit-scrollbar-track {
  background-color: #111;
}
* ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

body {
  background-image: url("../../netflix.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
body #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body #root .App {
  width: inherit;
  height: inherit;
  overflow-x: hidden;
}
body .homePage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .homePage .bg-illusion {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0.68;
  z-index: 0;
}
body .homePage .home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  position: relative;
  z-index: 100;
  border: "8px solid black";
  width: 100%;
  height: 100%;
}
body .homePage .home-content .info-section {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  transform: translateY(6%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 608px;
  font-size: 1.2rem;
  padding: 1rem;
}
body .homePage .home-content .info-section .typo {
  font-size: 0.8rem;
  color: #CCCCCC;
  cursor: pointer;
}
body .homePage .home-content .info-section .typo #demo {
  background: #C61C1C;
  border-radius: 8px;
  padding: 0.4rem;
  margin-right: 0.4rem;
}
body .homePage .home-content .info-section #info-text {
  text-align: justify;
  color: #CCCCCC;
  perspective: 1000px;
}
body .homePage .home-content .info-section .form-section {
  margin-top: 1.2rem;
  width: 100%;
}
body .homePage .home-content .info-section .form-section #search-bar {
  background-color: #222;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.8rem 1.4rem;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 600;
  box-shadow: none;
  text-align: center;
  display: block;
}
body .homePage .home-content .info-section .form-section #search-btn {
  width: 100%;
  font-size: 1.2rem;
  background-color: #C61C1C;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 8px;
  margin-top: 1.4rem;
}
body .homePage .home-content .info-section .form-section #homepage-btn {
  width: 100%;
  font-size: 1.2rem;
  background-color: #101010;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 8px;
  margin-top: 1.4rem;
}
body .homePage .home-content .info-section .supporter-section {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body .homePage .home-content .info-section .supporter-section p {
  font-weight: bolder;
  font-size: 1.6rem;
  color: #CCCCCC;
  text-decoration: underline;
  text-shadow: 0px 0px 4px rgb(220, 220, 220);
}
body .homePage .home-content .info-section .supporter-section img {
  width: 28%;
  height: 80%;
  background-color: #ddd;
  border-radius: 12px;
  box-shadow: 0px 0px 28px 4px rgb(211, 210, 210);
  -webkit-animation: tilt-shaking 1s infinite linear;
          animation: tilt-shaking 1s infinite linear;
}
@-webkit-keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body .homePage .home-content .graphical-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .homePage .home-content .graphical-section #ironManImg {
  height: 82%;
  -webkit-animation: upAndDown 2s infinite alternate;
          animation: upAndDown 2s infinite alternate;
  filter: drop-shadow(28px 0px 28px black);
  opacity: 0.96;
}
@-webkit-keyframes upAndDown {
  from {
    transform: translateY(-4%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes upAndDown {
  from {
    transform: translateY(-4%);
  }
  to {
    transform: translateY(0%);
  }
}/*# sourceMappingURL=home.css.map */