@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$bg-img-netflix: url('../../netflix.jpg');
$text-clr: #CCCCCC;
$bg-clr: #CCCCCC;
$btn-primary-clr: #C61C1C;
$btn-secondary-clr: #101010;
$bg-primary-clr: #C61C1C;
$max-width-info: 608px;
$normal-font-size: 1.2rem;
$main-font-family: Roboto, sans-serif;
$formal-bg-clr: #222;
$card-height: 28em;
$border-radius: 8px;
$card-width: 20%;
$sum-clr: #666;