@import '../variables/mainVariables.scss';
@import '../mixins/mainMixins.scss';
@import '../components/searchMain.scss';
@import '../components/newSearchPage.scss';

* {
    box-sizing: border-box;
    font-family: $main-font-family;
    user-select: none;

    ::-webkit-scrollbar {
        width: 8px;

        &-track {
            background-color: #111;
        }

        &-thumb {
            background-color: #888;
            border-radius: 8px;

            &:hover {
                background-color: #bbb;
            }
        }

    }
}

body {
    background-image: $bg-img-netflix;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

    #root {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;

        .App {
            width: inherit;
            height: inherit;
            overflow-x: hidden;
        }

    }

    .homePage {
        width: 100%;
        height: 100%;
        overflow: hidden;


        .bg-illusion {
            position: absolute;
            background: rgb(0, 0, 0);
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            opacity: 0.68;
            z-index: 0;
        }

        .home-content {
            @include flexSettings(row, space-evenly, none);
            position: relative;
            z-index: 100;
            border: '8px solid black';
            width: 100%;
            height: 100%;

            .info-section {
                // border: 8px solid $text-clr;
                @include flexSettings(column, none, none);
                transform: translateY(6%);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: $max-width-info;
                font-size: $normal-font-size;
                padding: 1rem;

                @include logo(0.8rem, 8px, $text-clr);

                #info-text {
                    text-align: justify;
                    color: $text-clr;
                    perspective: 1000px;
                }

                .form-section {
                    margin-top: 1.2rem;
                    width: 100%;

                    #search-bar {
                        @include searchBar(1.8rem, 6px, 600);
                    }

                    #search-btn {
                        @include button(100%, $normal-font-size, $btn-primary-clr, bold, 0.7rem, 8px);
                    }

                    #homepage-btn {
                        @include button(100%, $normal-font-size, $btn-secondary-clr, bold, 0.7rem, 8px);
                    }
                }

                .supporter-section {
                    width: 100%;
                    position: relative;
                    border-radius: 1rem;
                    margin-top: 3rem;
                    padding: 1rem;
                    @include flexSettings(row, space-around, center);

                    p {
                        font-weight: bolder;
                        font-size: 1.6rem;
                        color: $text-clr;
                        text-decoration: underline;
                        text-shadow: 0px 0px 4px rgb(220, 220, 220);
                    }

                    img {
                        width: 28%;
                        height: 80%;
                        background-color: #ddd;
                        border-radius: 12px;
                        box-shadow: 0px 0px 28px 4px rgb(211, 210, 210);
                        animation: tilt-shaking 1s infinite linear;
                    }

                    @keyframes tilt-shaking {
                        0% {
                            transform: rotate(0deg);
                        }

                        25% {
                            transform: rotate(5deg);
                        }

                        50% {
                            transform: rotate(0eg);
                        }

                        75% {
                            transform: rotate(-5deg);
                        }

                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
            }

            .graphical-section {
                display: flex;
                flex-direction: column;
                justify-content: center;

                #ironManImg {
                    height: 82%;
                    animation: upAndDown 2s infinite alternate;
                    filter: drop-shadow(28px 0px 28px black);
                    opacity: 0.96;
                }

                @keyframes upAndDown {
                    from {
                        transform: translateY(-4%);
                    }

                    to {
                        transform: translateY(0%);
                    }
                }
            }

        }

    }
}